@import './variables.css';
@import './reset.css';

:global {
	html {
		display: flex;
		justify-content: center;
		min-height: 100%;
	}

	body {
		background-color: var(--light-gray);
		padding: 0;
		margin: 15px;
		width: 100%;
		min-height: 100%;
		max-width: 1200px;
		overflow-y: auto;

		.global-layout {
			display: flex;
			height: 100%;
		}

		h1,
		h2,
		p,
		div,
		a,
		button {
			color: var(--dark-gray);
			font-family: 'bitter', 'serif';
		}

		footer {
			@media (max-width: 810px) {
				border-top: 3px solid var(--dark-gray);
			}
		}

		#burger.open {
			background-color: var(--light-gray);
		}

		.sidenav {
			border-right: 3px solid var(--dark-gray);
		}

		.red {
			color: crimson;
		}

		.blue {
			color: mediumblue;
		}

		.yellow {
			color: darkgoldenrod;
		}

		.green {
			color: green;
		}

		.purple {
			color: darkviolet;
		}
	}

	body.dark-mode {
		background-color: var(--dark-gray);

		button {
			background-color: var(--dark-gray);
		}

		p,
		h1,
		h2,
		div,
		a,
		button {
			color: var(--light-gray);
		}

		footer {
			@media (max-width: 810px) {
				border-top: 3px solid var(--light-gray);
			}
		}

		#burger.open {
			background-color: var(--dark-gray);
		}

		.sidenav {
			border-right: 3px solid var(--light-gray);
		}

		.red {
			color: red;
		}

		.blue {
			color: dodgerblue;
		}

		.yellow {
			color: gold;
		}

		.green {
			color: limegreen;
		}

		.purple {
			color: mediumpurple;
		}
	}

	.hidden {
		display: none;
	}

	.body-container {
		h2 {
			margin: 0 0 10px 0;
			font-size: 70px;
			transition: font-size 0.2s, margin 0.2s;

			@media (max-width: 450px) {
				font-size: 46px;
				margin: 0 0 20px 0;
			}
		}

		p {
			font-size: 20px;
			line-height: 26px;
			margin: 15px 0 0 20px;

			transition: font-size 0.2s;

			@media (max-width: 450px) {
				font-size: 18px;
				line-height: 20px;
			}
		}

		footer {
			@media (max-width: 810px) {
				border-top: 3px solid var(--dark-gray);
			}
		}

		.bold {
			font-weight: bold;
		}
	}
}
