@import './variables.css';

.body-container {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;

	@media (max-width: 600px) {
		flex-direction: column-reverse;
	}
}

.body-description {
	padding-left: 5px;
}

img {
	max-width: 800px;
}
