h1 {
	margin: 0;
	font-size: 27px;
}

p {
	font-size: 20px;
	line-height: 26px;
	margin: 15px 0px;

	transition: font-size 0.2s;

	@media (max-width: 600px) {
		font-size: 16px;
		line-height: 20px;
	}
}

.sidenav {
	display: flex;
	flex-direction: column;
	padding: 10px 15px 0 10px;
	min-width: 275px;

	@media (max-width: 600px) {
		display: none;
	}
}

.nav-sections {
	display: flex;
	flex-direction: column;
	margin: 30px 0 0 10px;

	a {
		text-decoration: none;
		margin-bottom: 10px;

		&:hover {
			font-style: italic;
		}
	}
}

.lamp-button {
	position: fixed;
	height: 38px;
	width: 38px;
	top: 10px;
	right: 15px;
	background-color: transparent;
	cursor: pointer;

	@media (max-width: 600px) {
		height: 30px;
		width: 30px;
	}
}
